@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #eaefef;
  --color-secondary: #bfc9d1;
  --color-tertiary: #1c4d8d;

  --color-primary-dark: #25343f;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }
}
